In [23]:
import pandas as pd

In [24]:
# Read SuggestedSpecies txt file
suggested_species_Laura = pd.read_csv('suggested_species_Laura.txt', sep=',')
suggested_species_Nacho = pd.read_csv('suggested_species_Nacho.txt', sep=',')

In [25]:
# Merge both dataframes
suggested_species = pd.merge(suggested_species_Laura, suggested_species_Nacho, on='species', how='outer')

In [26]:
# create column count = 0 and delete count_x and count_y
suggested_species['count'] = 0
suggested_species.drop(columns=['count_x', 'count_y'], inplace=True)

In [31]:
# make species be unique
suggested_species = suggested_species.drop_duplicates()

In [32]:
suggested_species

                                               species  count
0    Streptopelia decaocto_Luscinia megarhynchos_Pa...      0
1                           Streptopelia decaocto_bird      0
2    Streptopelia decaocto_Serin serin_Passer domes...      0
3                                Serin serin_Pica pica      0
4    Serin serin_Luscinia megarhynchos_Streptopelia...      0
..                                                 ...    ...
123            Serinus serinus_Passer domesticus_noise      0
124                        Serinus serinus_Parus major      0
125                                    Serinus serinus      0
126                      Turdus merula_Chloris chloris      0
127                                              Noise      0

[127 rows x 2 columns]

In [34]:
# sort alphabetically
suggested_species = suggested_species.sort_values(by='species')
# save as txt
suggested_species.to_csv('suggested_species.txt', index=False)